@import "tailwindcss";

@font-face {
   font-family: 'Mattone';
   src: url('./fonts/Mattone-Regular.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Mattone';
   src: url('./fonts/Mattone-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'BaseNeueTrial';
   src: url('./fonts/BaseNeueTrial-Bold.woff2') format('woff2');
   font-weight: 700;
   font-style: normal;
}

:root {
   background: #180e0d;
   color: #d1cdc2;


}

body {
   margin: 0;
   font-family: 'BaseNeueTrial', 'sans-serif;'
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
   font-family: 'Mattone', 'sans-serif';
   font-weight: 400;
}